@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  padding-top: 78px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  font-family: "Nunito", sans-serif !important;
}

html,
body {
  height: 100%;
  position: relative;
}

.container {
  position: relative;
  padding: 0px 55px;
  height: 100%;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid #86a3b8;
  cursor: pointer;
  text-align: center;
}
.btn--simpButton {
  text-shadow: 0px 6px 20px 0px rgba(18, 18, 18, 0.1019607843);
  color: #8ea7e9;
  border: none;
  box-shadow: none;
}
.btn--simpButton:hover {
  text-decoration: underline;
}
.btn--button {
  background-color: #8ea7e9;
  color: #ffffff;
  text-align: center;
  transition: 0.25s;
}
.btn--button:hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--Edit {
  background-color: #8ea7e9;
  border: 1px solid #8ea7e9;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Delete {
  background-color: #f55050;
  border: 1px solid #f55050;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Submit {
  background-color: #86a3b8;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}
.btn--Create {
  width: 6em;
  padding: 4px;
  font-size: 12px;
  height: fit-content;
  border-radius: 0;
  background-color: #0062e6;
  color: #ffffff;
  margin-left: 1em;
}
.btn--Yes {
  background-color: #f55050;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Yes:hover {
  background-color: transparent;
  color: #f55050;
  border: 1px solid #f55050;
}
.btn--Success {
  background-color: #03c988;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Success:hover {
  background-color: transparent;
  color: #03c988;
  border: 1px solid #03c988;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid #86a3b8;
  cursor: pointer;
  text-align: center;
}
.btn--simpButton {
  text-shadow: 0px 6px 20px 0px rgba(18, 18, 18, 0.1019607843);
  color: #8ea7e9;
  border: none;
  box-shadow: none;
}
.btn--simpButton:hover {
  text-decoration: underline;
}
.btn--button {
  background-color: #8ea7e9;
  color: #ffffff;
  text-align: center;
  transition: 0.25s;
}
.btn--button:hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--Edit {
  background-color: #8ea7e9;
  border: 1px solid #8ea7e9;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Delete {
  background-color: #f55050;
  border: 1px solid #f55050;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Submit {
  background-color: #86a3b8;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}
.btn--Create {
  width: 6em;
  padding: 4px;
  font-size: 12px;
  height: fit-content;
  border-radius: 0;
  background-color: #0062e6;
  color: #ffffff;
  margin-left: 1em;
}
.btn--Yes {
  background-color: #f55050;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Yes:hover {
  background-color: transparent;
  color: #f55050;
  border: 1px solid #f55050;
}
.btn--Success {
  background-color: #03c988;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Success:hover {
  background-color: transparent;
  color: #03c988;
  border: 1px solid #03c988;
}

header {
  width: 100%;
  height: 78px;
  background-color: #ffffff;
  border: 0.5px #cccccc solid;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 7px 55px;
  z-index: 1000;
}
header .group-btn {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
}
header .group-btn .bell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
header .group-btn .bell.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f55050;
  top: 0;
  right: 0;
  border-radius: 50%;
}
header .group-btn .bell .notification .notify {
  position: absolute;
  top: 110%;
  right: 50%;
  width: 248px;
  animation: smoothShow 0.3s;
  border-radius: 5px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid rgba(221, 221, 221, 0.5);
  z-index: inherit;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
}
header .group-btn .bell .notification .notify li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
  padding: 5px 20px;
  text-align: left;
}
header .group-btn .bell .notification .notify li a {
  flex-grow: 1;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
header .group-btn .bell::after {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -10px;
}
header .group-btn .bell:hover .notification > ul.notify {
  display: block !important;
}
header .dropdownSetting {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 149px;
  top: 110%;
  right: -10px;
  animation: smoothShow 0.3s;
  border-radius: 30px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid rgba(221, 221, 221, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .dropdownSetting ul {
  width: 100%;
}
header .dropdownSetting ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
  text-align: center;
}
header .dropdownSetting ul li a {
  flex-grow: 1;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
@keyframes smoothShow {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header .popupSetting {
  position: relative;
  padding: 15px 0px;
  height: 100%;
}
header .popupSetting::after {
  content: " ";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
header .popupSetting:hover > .dropdownSetting {
  display: flex;
}

.searchGroupContainer {
  height: 30px;
}
.searchGroupContainer .searchGroup {
  border: 1px solid #cccccc;
  width: fit-content;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}
.searchGroupContainer .searchGroup .searchGroupInput {
  border-radius: 5px;
  height: 100%;
  border: none;
  padding: 8px;
  outline: none;
}
.searchGroupContainer .searchGroup .searchButton {
  background-color: #cccccc;
  height: 100%;
  padding: 6px;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.25s;
}

.inputTextareaContainer, .inputSelectContainer, .inputTextContainer {
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0.5em 0 1em 0;
  background-color: #ffffff;
  font-size: 24px;
  padding: 0 1em;
  border-bottom: 5px solid #86a3b8;
  box-sizing: border-box;
  cursor: text;
}
.inputTextareaContainer .no-animation, .inputSelectContainer .no-animation, .inputTextContainer .no-animation {
  animation: none !important;
}
.inputTextareaContainer input, .inputSelectContainer input, .inputTextContainer input,
.inputTextareaContainer select,
.inputSelectContainer select,
.inputTextContainer select,
.inputTextareaContainer textarea,
.inputSelectContainer textarea,
.inputTextContainer textarea {
  border: none;
  font-size: 16px;
}
.inputTextareaContainer .inputError, .inputSelectContainer .inputError, .inputTextContainer .inputError {
  position: absolute;
  bottom: -24px;
  color: #f55050;
  background-color: white;
  border-radius: 50%;
  font-weight: 700;
  font-size: 12px;
  display: none;
}

.inputTextContainer:has(.input:focus) {
  border-bottom: 5px solid #03c988;
}
.inputTextContainer.error {
  padding-right: 1em;
  border-bottom: 5px solid #f55050;
}
.inputTextContainer.error::before {
  content: url("/assets/images/Error.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
}
.inputTextContainer.error .inputError {
  display: block;
}
.inputTextContainer .input {
  width: 100%;
  height: 100%;
  transition: border-bottom-color ease 0.25s;
  font-size: inherit;
}
.inputTextContainer .input:focus {
  outline: none;
}
.inputTextContainer .inputSpan {
  position: absolute;
  font-weight: 700;
  color: #86a3b8;
  opacity: 0.6;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.inputTextContainer .inputSpan.focus {
  color: #000000;
  top: 0;
  animation: movingText 0.5s ease;
  font-size: 24px;
}

.inputSelectContainer select {
  width: 100%;
  height: 100%;
  font-size: inherit;
}
.inputSelectContainer select:focus {
  outline: none;
}
.inputSelectContainer select option {
  background-color: #ffffff;
}

.inputTextareaContainer {
  height: auto !important;
  width: 100% !important;
  padding: 12px 0 0 0 !important;
}
.inputTextareaContainer:has(textarea:focus) {
  border-bottom: 5px solid #03c988;
}
.inputTextareaContainer.error {
  padding-right: 1em;
  border-bottom: 5px solid #f55050;
}
.inputTextareaContainer.error::before {
  content: url("/assets/images/Error.svg");
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 0;
  right: 0;
  transform: translateY(-25%);
  z-index: 100;
}
.inputTextareaContainer .inputTxt {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  resize: vertical;
  transition: 0.25s;
}
.inputTextareaContainer .inputTxt:focus {
  outline: none;
}
.inputTextareaContainer .areaSpan {
  position: absolute;
  font-weight: 700;
  color: #86a3b8;
  opacity: 0.6;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.inputTextareaContainer .areaSpan.focus {
  color: #000000;
  top: 0;
  animation: movingText 0.5s ease;
  font-size: 24px;
}

.urlFieldContainer {
  height: 30px;
}
.urlFieldContainer .urlField {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  width: 100%;
  border-radius: 5px;
}
.urlFieldContainer .urlField .urlFieldInput {
  border-radius: 5px;
  border: none;
  padding: 4px;
  outline: none;
  flex-grow: 1;
}
.urlFieldContainer .urlField .urlFieldInput::placeholder {
  color: #cccccc;
}
.urlFieldContainer .urlField .extendIconContainer {
  display: flex;
  background-color: #cccccc;
  height: 100%;
  width: 2em;
  padding: 2px;
  cursor: pointer;
  transition: 0.25s;
  justify-content: center;
}
.urlFieldContainer .urlField .extendIconContainer:hover {
  opacity: 0.8;
}
.urlFieldContainer .urlField .extendIconContainer #extendIcon {
  width: 1em;
}

@keyframes movingText {
  0% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
.adminContainer {
  display: flex;
  padding: 0;
}
.adminContainer .leftContainer {
  border-right: 5px solid #86a3b8;
  width: 20%;
  overflow: hidden;
  padding: 0 1em;
  position: fixed;
  z-index: 1000;
  height: 100%;
}
.adminContainer .manageItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 1em;
  cursor: pointer;
  font-weight: 700;
  transition: 0.25s;
  margin: 1em 0;
  color: #86a3b8;
  border: 1px solid #86a3b8;
  text-decoration: none;
}
.adminContainer .manageItem:hover {
  transform: translateX(20px);
}
.adminContainer .manageItem .manageIcon {
  margin-right: 1em;
}
.adminContainer .active {
  background-color: #86a3b8 !important;
  color: #ffffff;
  border: 1px solid #86a3b8;
}
.adminContainer .selected {
  background-color: #e8d2a6 !important;
  color: #ffffff;
  transition: 0.25s;
}
.adminContainer .rightContainer {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
  margin-left: 20%;
}
.adminContainer .rightContainer .manageUserContainer {
  width: 100%;
  display: none;
}
.adminContainer .rightContainer .verifyRequestContainer {
  width: 100%;
  display: none;
}
.adminContainer .rightContainer::-webkit-scrollbar {
  display: none;
}
.adminContainer .rightContainer .listTitle h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 1em;
  color: #86a3b8;
}
.adminContainer .rightContainer .listAction {
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
  align-items: center;
  margin-bottom: 1em;
}
.adminContainer table {
  width: 100%;
  background-color: #ffffff;
}
.adminContainer table tr {
  border-collapse: collapse;
  height: 2em;
}
.adminContainer table tr th {
  font-weight: 700;
  text-align: center;
  padding: 8px;
}
.adminContainer table tr td {
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}
.adminContainer table tr td span.text--ellipsis {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.adminContainer table tr .iconList > abbr[title] {
  text-decoration: none !important;
}
.adminContainer table tr .actionIcon {
  margin: 0 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.adminContainer .typeAccount {
  font-weight: 700;
}
.adminContainer .typeAccount .typeName {
  width: 50%;
  padding: 4px 1em;
  margin: 0 auto;
}
.adminContainer .typeAccount .typeAd {
  background-color: #f4f4f4;
  border: 1px solid #cccccc;
}
.adminContainer .paging .pagingList {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
.adminContainer .paging .pagingList li {
  width: 4em;
  height: 1.5em;
  border: 1px solid #86a3b8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.25 transform ease-in-out;
  will-change: transform;
  overflow: hidden;
  z-index: 0;
}
.adminContainer .paging .pagingList li:not(:last-child) {
  border-right: none;
}
.adminContainer .paging .pagingList li:last-child {
  border-radius: 0 3px 3px 0;
}
.adminContainer .paging .pagingList li:first-child {
  border-radius: 3px 0 0 3px;
}
.adminContainer .paging .pagingList li::after {
  background-color: #86a3b8;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-200%, 0) rotate(10deg);
  transition: 0.25s transform ease-out;
  will-change: transform;
  z-index: -1;
  display: block;
}
.adminContainer .paging .pagingList li:hover::after {
  transform: translate(0, 0);
}
.adminContainer .paging .pagingList li:hover {
  border: 1px solid #86a3b8;
  color: #ffffff;
  transform: scale(1.05);
  will-change: transform;
}
.adminContainer .show {
  display: block !important;
}
.adminContainer .moreInfo {
  word-wrap: break-word;
  white-space: inherit;
}

/*# sourceMappingURL=admin.css.map */
