/* Error: This file is already being loaded.
 *   ,--> assets\sass\components.scss
 * 1 | @import "index";
 *   |         ^^^^^^^ new load
 *   '
 *   ,--> assets\sass\_button.scss
 * 2 | @import "index";
 *   |         ======= original load
 *   '
 *   assets\sass\components.scss 1:9  @import
 *   assets\sass\index.scss 7:9       @import
 *   assets\sass\_button.scss 2:9     @import
 *   assets\sass\input.scss 2:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a   \250c \2500 \2500 > assets\\sass\\components.scss\a 1 \2502  @import "index";\d\a   \2502          ^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > assets\\sass\\_button.scss\a 2 \2502  @import "index";\d\a   \2502          \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   assets\\sass\\components.scss 1:9  @import\a   assets\\sass\\index.scss 7:9       @import\a   assets\\sass\\_button.scss 2:9     @import\a   assets\\sass\\input.scss 2:9       root stylesheet';
}
