@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.inputTextContainer {
  position: relative;
  width: 380px;
  height: 40px;
  display: none;
}
.inputTextContainer .input {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  border-bottom: 5px solid #86a3b8;
  margin-top: 1em;
  transition: border-bottom-color ease 0.25s;
  margin-bottom: 0.5em;
}
.inputTextContainer .input:focus {
  outline: none;
  border-bottom: 5px solid #03c988;
}
.inputTextContainer .input:focus ~ .inputSpan {
  color: #000000;
  top: 15%;
  animation: movingText 0.5s ease;
}
.inputTextContainer .inputSpan {
  position: absolute;
  font-weight: 700;
  color: #86a3b8;
  opacity: 0.6;
  left: 1em;
  top: 50%;
}
.inputTextContainer .inputError {
  color: #f55050;
  margin-left: 1em;
  font-weight: 700;
}
.inputTextContainer .inputErrorIcon {
  position: absolute;
  top: 50%;
  right: 5%;
}

@keyframes movingText {
  0% {
    top: 50%;
  }
  100% {
    top: 15%;
  }
}
.inputSelectContainer {
  width: 380px;
  height: 40px;
  display: none;
}
.inputSelectContainer select {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  border-bottom: 5px solid #86a3b8;
}
.inputSelectContainer select:focus {
  outline: none;
}
.inputSelectContainer select option {
  background-color: transparent;
}

.inputTextareaContainer {
  width: 380px;
  height: 40px;
  position: relative;
  margin-top: 1em;
  display: none;
}
.inputTextareaContainer .inputTxt {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  border-bottom: 5px solid #86a3b8;
  resize: none;
  transition: 0.25s;
}
.inputTextareaContainer .inputTxt:focus {
  outline: none;
}
.inputTextareaContainer .inputTxt:focus ~ .areaSpan {
  top: -30%;
  color: #000000;
  animation: movingArea ease 0.25s;
}
.inputTextareaContainer .areaSpan {
  position: absolute;
  font-weight: 700;
  color: #86a3b8;
  opacity: 0.6;
  left: 0.5em;
  top: 20%;
  font-size: 1em;
}

@keyframes movingArea {
  0% {
    top: 20%;
  }
  100% {
    top: -30%;
  }
}
.urlFieldContainer {
  margin-top: 1em;
  height: 30px;
}
.urlFieldContainer .urlField {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  width: fit-content;
  border-radius: 5px;
}
.urlFieldContainer .urlField .urlFieldInput {
  border-radius: 5px;
  border: none;
  padding: 4px;
  outline: none;
}
.urlFieldContainer .urlField .urlFieldInput::placeholder {
  color: #cccccc;
}
.urlFieldContainer .urlField .extendIconContainer {
  display: flex;
  background-color: #cccccc;
  height: 100%;
  width: 2em;
  padding: 2px;
  cursor: pointer;
  transition: 0.25s;
  justify-content: center;
}
.urlFieldContainer .urlField .extendIconContainer:hover {
  opacity: 0.8;
}
.urlFieldContainer .urlField .extendIconContainer #extendIcon {
  width: 1em;
}

.searchGroupContainer {
  margin-top: 1em;
  height: 30px;
}
.searchGroupContainer .searchGroup {
  border: 1px solid #cccccc;
  width: fit-content;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}
.searchGroupContainer .searchGroup .searchGroupInput {
  border-radius: 5px;
  height: 100%;
  border: none;
  padding: 8px;
  outline: none;
}
.searchGroupContainer .searchGroup .searchButton {
  background-color: #cccccc;
  height: 100%;
  padding: 6px;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.25s;
}
.searchGroupContainer .searchGroup .searchButton:hover {
  opacity: 0.8;
}

.contentNavContainer {
  margin-top: 1em;
  padding: 8px;
  background-color: #f4f4f4;
}
.contentNavContainer .contenNavHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #86a3b8;
}
.contentNavContainer .contenNavHeader .navHeaderTitle {
  font-size: 1em;
}
.contentNavContainer .contenNavHeader .navHeaderButton {
  font-size: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}
.contentNavContainer .contenNavHeader .navHeaderButton:hover {
  transform: translateX(-10px);
}
.contentNavContainer .contenNavHeader .navHeaderButton img {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.contentNavContainer .contentNavBody {
  border: 1px solid #cccccc;
  padding: 4px;
  margin-top: 1em;
}
.contentNavContainer .contentNavBody .contentItem {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}
.contentNavContainer .contentNavBody .contentItem .itemFirst {
  display: flex;
  align-items: center;
}
.contentNavContainer .contentNavBody .contentItem .itemFirst .titleIcon {
  width: 60px;
}
.contentNavContainer .contentNavBody .contentItem .itemFirst .titleName {
  color: #0062e6;
  font-weight: 700;
  margin-right: 0.5em;
}
.contentNavContainer .contentNavBody .contentItem .itemFirst .verifyIcon {
  font-size: 16px;
  height: 16px;
}
.contentNavContainer .contentNavBody .contentItem .itemSubContent {
  color: #03c988;
  font-weight: 700;
}
.contentNavContainer .contentNavBody .contentItem .itemThird {
  display: flex;
  justify-content: space-between;
  width: 5em;
}
.contentNavContainer .contentNavBody .contentItem .itemThird .actionIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  transition: transform ease 0.25s;
}
.contentNavContainer .contentNavBody .contentItem .itemThird .actionIcon:hover {
  transform: translateY(-20px);
}

@keyframes actionIcon {
  0% {
    top: 0;
  }
  100% {
    top: -1em;
  }
}

/*# sourceMappingURL=input.css.map */
