@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  padding-top: 78px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  font-family: "Nunito", sans-serif !important;
}

html,
body {
  height: 100%;
  position: relative;
}

.container {
  position: relative;
  padding: 0px 55px;
  height: 100%;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid #86a3b8;
  cursor: pointer;
  text-align: center;
}
.btn--simpButton {
  text-shadow: 0px 6px 20px 0px rgba(18, 18, 18, 0.1019607843);
  color: #8ea7e9;
  border: none;
  box-shadow: none;
}
.btn--simpButton:hover {
  text-decoration: underline;
}
.btn--button {
  background-color: #8ea7e9;
  color: #ffffff;
  text-align: center;
  transition: 0.25s;
}
.btn--button:hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--Edit {
  background-color: #8ea7e9;
  border: 1px solid #8ea7e9;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Delete {
  background-color: #f55050;
  border: 1px solid #f55050;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Submit {
  background-color: #86a3b8;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}
.btn--Create {
  width: 6em;
  padding: 4px;
  font-size: 12px;
  height: fit-content;
  border-radius: 0;
  background-color: #0062e6;
  color: #ffffff;
  margin-left: 1em;
}
.btn--Yes {
  background-color: #f55050;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Yes:hover {
  background-color: transparent;
  color: #f55050;
  border: 1px solid #f55050;
}
.btn--Success {
  background-color: #03c988;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Success:hover {
  background-color: transparent;
  color: #03c988;
  border: 1px solid #03c988;
}
.btn--verifyBtn {
  background-color: #537FE7;
  color: #ffffff;
  border: none;
  transform: 0.25s ease-in;
}
.btn--verifyBtn:hover {
  background-color: transparent;
  color: #537FE7;
  border: 1px solid #537FE7;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid #86a3b8;
  cursor: pointer;
  text-align: center;
}
.btn--simpButton {
  text-shadow: 0px 6px 20px 0px rgba(18, 18, 18, 0.1019607843);
  color: #8ea7e9;
  border: none;
  box-shadow: none;
}
.btn--simpButton:hover {
  text-decoration: underline;
}
.btn--button {
  background-color: #8ea7e9;
  color: #ffffff;
  text-align: center;
  transition: 0.25s;
}
.btn--button:hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--hover {
  background-color: #ffffff;
  color: #8ea7e9;
  border: 1px solid #8ea7e9;
}
.btn--Edit {
  background-color: #8ea7e9;
  border: 1px solid #8ea7e9;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Delete {
  background-color: #f55050;
  border: 1px solid #f55050;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Submit {
  background-color: #86a3b8;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}
.btn--Create {
  width: 6em;
  padding: 4px;
  font-size: 12px;
  height: fit-content;
  border-radius: 0;
  background-color: #0062e6;
  color: #ffffff;
  margin-left: 1em;
}
.btn--Yes {
  background-color: #f55050;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Yes:hover {
  background-color: transparent;
  color: #f55050;
  border: 1px solid #f55050;
}
.btn--Success {
  background-color: #03c988;
  color: #ffffff;
  border: none;
  transition: 0.25s ease-in;
}
.btn--Success:hover {
  background-color: transparent;
  color: #03c988;
  border: 1px solid #03c988;
}
.btn--verifyBtn {
  background-color: #537FE7;
  color: #ffffff;
  border: none;
  transform: 0.25s ease-in;
}
.btn--verifyBtn:hover {
  background-color: transparent;
  color: #537FE7;
  border: 1px solid #537FE7;
}

header {
  width: 100%;
  height: 78px;
  background-color: #ffffff;
  border: 0.5px #cccccc solid;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 7px 55px;
  z-index: 1000;
}
header .group-btn {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
}
header .group-btn .bell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
header .group-btn .bell.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f55050;
  top: 0;
  right: 0;
  border-radius: 50%;
}
header .group-btn .bell .notification .notify {
  position: absolute;
  top: 110%;
  right: 50%;
  width: 248px;
  animation: smoothShow 0.3s;
  border-radius: 5px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid rgba(221, 221, 221, 0.5);
  z-index: inherit;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
}
header .group-btn .bell .notification .notify li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
  padding: 5px 20px;
  text-align: left;
}
header .group-btn .bell .notification .notify li a {
  flex-grow: 1;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
header .group-btn .bell::after {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -10px;
}
header .group-btn .bell:hover .notification > ul.notify {
  display: block !important;
}
header .dropdownSetting {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 149px;
  top: 110%;
  right: -10px;
  animation: smoothShow 0.3s;
  border-radius: 30px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid rgba(221, 221, 221, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .dropdownSetting ul {
  width: 100%;
}
header .dropdownSetting ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
  text-align: center;
}
header .dropdownSetting ul li a {
  flex-grow: 1;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
@keyframes smoothShow {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header .popupSetting {
  position: relative;
  padding: 15px 0px;
  height: 100%;
}
header .popupSetting::after {
  content: " ";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
header .popupSetting:hover > .dropdownSetting {
  display: flex;
}

.slider ul li.active, .slider ul:has(li:not(.active):hover) li:hover {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.slider {
  position: fixed;
  z-index: 1000;
  top: 50%;
}
.slider ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.slider ul:has(li:not(.active):hover) li:hover {
  animation: smoothZoom 0.2s linear;
}
.slider ul:has(li:not(.active):hover) .active {
  font-size: 24px;
  animation: smoothZoom 0.2s reverse;
}
.slider ul li {
  position: relative;
  color: #f4f4f4;
  font-size: 24px;
}
.slider ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 3px;
  height: 100%;
  background-color: #b0e07b;
}
.slider ul li.active {
  animation: smoothZoom 0.2s linear;
}
.slider ul li a {
  color: #000000;
  text-decoration: none;
}

.container {
  margin-top: 0px;
  gap: 10px;
  scroll-behavior: smooth;
  height: 100%;
}

div.panel {
  width: 100%;
  height: 100%;
  padding-top: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 391px;
  scroll-snap-align: start;
}
div.panel > div > h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 21px;
  margin: 20px 0;
}
div.panel > div {
  flex-grow: 1;
}
div.panel > div p {
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  text-align: right;
}
div.panel > div ul {
  list-style: disc;
  margin-left: 21px;
}
div.panel > div ul li {
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
}
div.panel > img {
  width: 100% !important;
  max-width: 200px;
}

@keyframes smoothZoom {
  0% {
    font-size: 24px;
  }
  100% {
    font-size: 32px;
  }
}
.member-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.member-group h1 {
  font-size: 64px;
  word-wrap: break-word;
  width: 500px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.member-group ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 585px;
  justify-content: center;
  gap: 30px;
}
.member-group ul li {
  display: inherit;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  height: fit-content;
  align-items: center;
  text-align: center;
}
.member-group ul li img {
  object-position: top;
  object-fit: cover;
  height: 126px;
  width: 126px;
  border-radius: 50%;
}

.techIcon {
  display: flex;
  width: fit-content;
  padding-top: 1em;
}
.techIcon .group1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 4em;
}
.techIcon .techLogo {
  width: 8em;
}

/*# sourceMappingURL=landing.css.map */
