@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  font-family: "Nunito", sans-serif !important;
}

html,
body {
  height: 100%;
  position: relative;
}

.container {
  position: relative;
  padding: 0px 55px;
  margin-top: 78px;
  height: calc(100% - 78px);
}

.btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid #86a3b8;
  cursor: pointer;
}
.btn--simpButton {
  text-shadow: 0px 6px 20px 0px rgba(18, 18, 18, 0.1019607843);
  color: #8ea7e9;
  border: none;
  box-shadow: none;
}
.btn--simpButton:hover {
  text-decoration: underline;
}
.btn--button {
  background-color: #8ea7e9;
  color: #ffffff;
}
.btn--button:hover {
  background-color: #ffffff;
  color: #86a3b8;
  border: 1px solid #86a3b8;
}
.btn--Edit {
  background-color: #8ea7e9;
  border: 1px solid #8ea7e9;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Delete {
  background-color: #f55050;
  border: 1px solid #f55050;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Login {
  background-color: #86a3b8;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid #86a3b8;
  cursor: pointer;
}
.btn--simpButton {
  text-shadow: 0px 6px 20px 0px rgba(18, 18, 18, 0.1019607843);
  color: #8ea7e9;
  border: none;
  box-shadow: none;
}
.btn--simpButton:hover {
  text-decoration: underline;
}
.btn--button {
  background-color: #8ea7e9;
  color: #ffffff;
}
.btn--button:hover {
  background-color: #ffffff;
  color: #86a3b8;
  border: 1px solid #86a3b8;
}
.btn--Edit {
  background-color: #8ea7e9;
  border: 1px solid #8ea7e9;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Delete {
  background-color: #f55050;
  border: 1px solid #f55050;
  color: #ffffff;
  width: 5em;
  border-radius: 8px;
  font-weight: 500;
}
.btn--Login {
  background-color: #86a3b8;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}

header {
  width: 100%;
  height: 78px;
  background-color: #ffffff;
  border: 0.5px #cccccc solid;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 7px 55px;
  z-index: 1000;
}

.slider ul li.active, .slider ul:has(li:not(.active):hover) li:hover {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.slider {
  position: fixed;
  z-index: 1000;
  top: 50%;
}
.slider ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.slider ul:has(li:not(.active):hover) li:hover {
  animation: smoothZoom 0.2s linear;
}
.slider ul:has(li:not(.active):hover) .active {
  font-size: 24px;
  animation: smoothZoom 0.2s reverse;
}
.slider ul li {
  position: relative;
  color: #f4f4f4;
  font-size: 24px;
}
.slider ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 3px;
  height: 100%;
  background-color: #b0e07b;
}
.slider ul li.active {
  animation: smoothZoom 0.2s linear;
}
.slider ul li a {
  color: #000000;
  text-decoration: none;
}

.container {
  margin-top: 0px;
  gap: 10px;
  scroll-behavior: smooth;
  height: 100%;
}

div.panel {
  width: 100%;
  height: 100%;
  padding-top: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 391px;
  scroll-snap-align: start;
}
div.panel > div > h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 21px;
  margin: 20px 0;
}
div.panel > div {
  flex-grow: 1;
}
div.panel > div p {
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  text-align: right;
}
div.panel > div ul {
  list-style: disc;
  margin-left: 21px;
}
div.panel > div ul li {
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
}
div.panel img {
  width: 221px;
}

@keyframes smoothZoom {
  0% {
    font-size: 24px;
  }
  100% {
    font-size: 32px;
  }
}
.member-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.member-group h1 {
  font-size: 64px;
  word-wrap: break-word;
  width: 500px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.member-group ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 480px;
  justify-content: center;
  gap: 30px;
}
.member-group ul li {
  display: inherit;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  height: fit-content;
  text-align: center;
}
.member-group ul li img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/*# sourceMappingURL=landing.css.map */
