@model Jobee_API.Models.model_Project
@{
    bool validationField(string input)
    {
        var state = ViewData.ModelState.GetFieldValidationState(input);
        return state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Valid || state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Unvalidated;
    }
}
<div class="overlayPopup" id="overlayProject">
    <form method="post" class="popupContainer" id="projContainer" asp-controller="User" asp-action="AddProject">
        <div class="formHeader">
            <h3 class="headerTitle">Add Your Project</h3>
        </div>
        <!-- BODY -->
        <div class="formBody">
            <div class="row">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.81818 0C2.60364 0 0 2.60364 0 5.81818V58.1818C0 61.3964 2.60364 64 5.81818 64H58.1818C61.3964 64 64 61.3964 64 58.1818V5.81818C64 2.60364 61.3964 0 58.1818 0H5.81818ZM20.4034 7.64773C26.8732 7.64773 30.5568 10.5945 30.5568 15.6534V31.642H23.3068V28.733H22.9034C21.8532 30.7344 19.2827 32 16.3125 32C11.8034 32 8.72727 29.1974 8.72727 24.8977C8.72727 20.6214 12.0543 18.1362 18.1023 17.7784L23.2216 17.483V15.6534C23.2216 14.0738 22.0398 13.125 19.9773 13.125C18.0165 13.125 16.7585 13.7749 16.2727 15.017H9.56818C9.90564 10.4643 14.0616 7.64773 20.4034 7.64773ZM23.2216 21.6761L19.2841 21.9261C17.0703 22.0949 15.9148 22.9641 15.9148 24.375C15.9148 25.8703 17.1577 26.7955 19.0341 26.7955C21.3934 26.7955 23.2216 25.2377 23.2216 23.2159V21.6761ZM35.3239 32H54.8977V36.5398L44.9205 49.3125V49.7159H55.2727V55.2727H35.0739V51.3182L46.0284 37.9602V37.5568H35.3239V32Z"
                          fill="black" />
                </svg>
                <div class="col">
                    <div class="popupInput inputTextContainer">
                        <input asp-for="Name" type="text"  class="input" />
                        <span class="inputSpan">Name</span>
                        <span class="inputError" asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <svg width="16" height="64" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_178_2137)">
                        <path d="M4.79977 2.13333C3.32724 2.13333 2.1331 3.32746 2.1331 4.8V5.33333C2.1331 6.80586 3.32724 8 4.79977 8C6.2723 8 7.46644 6.80586 7.46644 5.33333V4.8C7.46644 3.32746 6.2723 2.13333 4.79977 2.13333ZM11.1998 2.13333C9.72724 2.13333 8.5331 3.32746 8.5331 4.8V5.33333C8.5331 6.80586 9.72724 8 11.1998 8C12.6723 8 13.8664 6.80586 13.8664 5.33333V4.8C13.8664 3.32746 12.6723 2.13333 11.1998 2.13333ZM11.1998 3.2C12.0819 3.2 12.7998 3.91786 12.7998 4.8V5.33333C12.7998 6.21547 12.0819 6.93333 11.1998 6.93333C10.3176 6.93333 9.59977 6.21547 9.59977 5.33333V4.8C9.59977 3.91786 10.3176 3.2 11.1998 3.2ZM4.79873 9.06667C3.05046 9.06667 0.807603 10.0662 0.162269 11.1542C-0.236131 11.8262 0.143286 12.8 0.797686 12.8H7.19769H8.80185H15.2019C15.8563 12.8 16.2362 11.8262 15.8373 11.1542C15.1914 10.0662 12.947 9.06667 11.1987 9.06667C10.1585 9.06667 8.94958 9.42484 7.99977 9.94062C7.04968 9.42461 5.83923 9.06667 4.79873 9.06667ZM11.1987 10.1333C12.6761 10.1333 14.5105 11.0083 14.9196 11.6979C14.9254 11.7075 14.9278 11.72 14.93 11.7333H9.5956C9.59067 11.5348 9.54295 11.3339 9.43623 11.1542C9.33123 10.9771 9.17205 10.8049 8.99144 10.6365C9.67491 10.343 10.4781 10.1333 11.1987 10.1333Z"
                              fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_178_2137">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <div class="col">
                    <div class="popupInput inputTextContainer">
                        <input asp-for="TeamSize" type="number"  class="input" />
                        <span class="inputSpan">Team Size</span>
                        <span class="inputError" asp-validation-for="TeamSize"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.1998 53C30.9998 47.4 24.9498 43.6 17.9998 43.6C11.0498 43.6 4.9998 47.4 1.7998 53.05L1.8498 54.55H34.1498L34.1998 53ZM17.9998 20C15.6792 20 13.4536 20.9219 11.8126 22.5628C10.1717 24.2038 9.2498 26.4294 9.2498 28.75C9.2498 31.0706 10.1717 33.2962 11.8126 34.9372C13.4536 36.5781 15.6792 37.5 17.9998 37.5C20.3204 37.5 22.546 36.5781 24.187 34.9372C25.8279 33.2962 26.7498 31.0706 26.7498 28.75C26.7498 26.4294 25.8279 24.2038 24.187 22.5628C22.546 20.9219 20.3204 20 17.9998 20Z"
                          fill="white" />
                    <path d="M18 38.95C12.35 38.95 7.74998 34.35 7.74998 28.7C7.74998 23.35 11.95 18.85 17.3 18.5C18.15 18.45 18.85 19.05 18.9 19.9C18.95 20.75 18.35 21.45 17.5 21.5C13.7 21.75 10.75 24.9 10.75 28.7C10.75 32.7 14 35.95 18 35.95C19.3 35.95 20.6 35.6 21.7 34.95C22.4 34.55 23.35 34.75 23.75 35.45C24.15 36.15 23.95 37.1 23.25 37.5C21.65 38.45 19.85 38.95 18 38.95ZM1.79998 54.5C1.54998 54.5 1.29998 54.45 1.04998 54.3C0.349981 53.9 0.0999813 53 0.499981 52.25C3.09998 47.65 7.49998 44.2 12.6 42.8C13.4 42.6 14.2 43.05 14.45 43.85C14.65 44.65 14.2 45.5 13.4 45.7C9.09998 46.9 5.34998 49.85 3.09998 53.75C2.84998 54.25 2.34998 54.5 1.79998 54.5Z"
                          fill="#D3D8DD" />
                    <path d="M29.7998 53C32.9998 47.4 39.0498 43.6 45.9998 43.6C52.9498 43.6 58.9998 47.4 62.1998 53.05L62.1498 54.55H29.8498L29.7998 53ZM45.9998 20C43.6792 20 41.4536 20.9219 39.8126 22.5628C38.1717 24.2038 37.2498 26.4294 37.2498 28.75C37.2498 31.0706 38.1717 33.2962 39.8126 34.9372C41.4536 36.5781 43.6792 37.5 45.9998 37.5C48.3204 37.5 50.546 36.5781 52.187 34.9372C53.8279 33.2962 54.7498 31.0706 54.7498 28.75C54.7498 26.4294 53.8279 24.2038 52.187 22.5628C50.546 20.9219 48.3204 20 45.9998 20Z"
                          fill="white" />
                    <path d="M45.9998 38.95C44.1498 38.95 42.3498 38.45 40.7998 37.5C40.0998 37.1 39.8498 36.15 40.2998 35.45C40.6998 34.75 41.6498 34.5 42.3498 34.95C43.4498 35.6 44.7498 35.95 46.0498 35.95C50.0498 35.95 53.2998 32.7 53.2998 28.7C53.2998 24.9 50.3498 21.75 46.5498 21.5C45.6998 21.45 45.0998 20.75 45.1498 19.9C45.1998 19.05 45.8998 18.45 46.7498 18.5C52.0998 18.85 56.2998 23.35 56.2998 28.7C56.2498 34.4 51.6498 38.95 45.9998 38.95ZM62.1998 54.5C61.6998 54.5 61.1498 54.25 60.8998 53.75C58.6998 49.85 54.9498 46.9 50.5998 45.7C49.7998 45.5 49.3498 44.65 49.5498 43.85C49.7498 43.05 50.5998 42.6 51.3998 42.8C56.4498 44.2 60.8498 47.65 63.4998 52.25C63.8998 52.95 63.6498 53.9 62.9498 54.3C62.6998 54.45 62.4498 54.5 62.1998 54.5Z"
                          fill="#D3D8DD" />
                    <path d="M50.5502 52.8C46.8502 46.35 39.9502 42 32.0002 42C24.0502 42 17.1502 46.35 13.4502 52.8L13.5002 54.5H50.5002L50.5502 52.8ZM32.0002 15C29.348 15 26.8045 16.0536 24.9291 17.9289C23.0538 19.8043 22.0002 22.3478 22.0002 25C22.0002 27.6522 23.0538 30.1957 24.9291 32.0711C26.8045 33.9464 29.348 35 32.0002 35C34.6524 35 37.1959 33.9464 39.0713 32.0711C40.9466 30.1957 42.0002 27.6522 42.0002 25C42.0002 22.3478 40.9466 19.8043 39.0713 17.9289C37.1959 16.0536 34.6524 15 32.0002 15Z"
                          fill="white" />
                    <path d="M31.9999 36.5C25.6499 36.5 20.4999 31.35 20.4999 25C20.4999 18.65 25.6499 13.5 31.9999 13.5C38.3499 13.5 43.4999 18.65 43.4999 25C43.4999 31.35 38.3499 36.5 31.9999 36.5ZM31.9999 16.5C27.2999 16.5 23.4999 20.3 23.4999 25C23.4999 29.7 27.2999 33.5 31.9999 33.5C36.6999 33.5 40.4999 29.7 40.4999 25C40.4999 20.3 36.6999 16.5 31.9999 16.5ZM13.4499 54.5C13.1999 54.5 12.9499 54.45 12.6999 54.3C11.9999 53.9 11.7499 53 12.1499 52.25C16.1999 45.15 23.7999 40.7 31.9999 40.7C40.1999 40.7 47.7999 45.15 51.8499 52.25C52.2499 52.95 51.9999 53.9 51.2999 54.3C50.5999 54.7 49.6499 54.45 49.2499 53.75C45.7499 47.55 39.1499 43.7 31.9999 43.7C24.8999 43.7 18.2999 47.55 14.7499 53.75C14.4999 54.25 13.9999 54.5 13.4499 54.5Z"
                          fill="black" />
                </svg>
                <div class="col">
                    <div class="popupInput inputTextContainer">
                        <input asp-for="Name" type="number" min="0" max="4"  class="input" />
                        <span class="inputSpan">Role</span>
                        <span class="inputError" asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <svg width="64" height="64" viewBox="0 0 221 222" fill="#000"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.6249 18.917C17.4497 18.917 9.20825 27.1585 9.20825 37.3337V147.834C9.20825 158.009 17.4497 166.25 27.6249 166.25H92.0832V184.667H73.6666V203.084H147.333V184.667H128.917V166.25H193.375C203.55 166.25 211.792 158.009 211.792 147.834V37.3337C211.792 27.1585 203.55 18.917 193.375 18.917H27.6249ZM27.6249 37.3337H193.375V147.834H27.6249V37.3337ZM113 54.0777L94.5832 127.744L108 131.09L126.417 57.4229L113 54.0777ZM75.573 63.0522L46.0416 92.5837L75.573 122.115L84.7813 112.907L64.4583 92.5837L84.7813 72.2606L75.573 63.0522ZM145.427 63.0522L136.219 72.2606L156.542 92.5837L136.219 112.907L145.427 122.115L174.958 92.5837L145.427 63.0522Z"
                          fill="#000" />
                </svg>
                <div class="col">
                    <div class="popupInput inputTextContainer">
                        <input asp-for="Technology" type="number" min="0" max="4"  class="input" />
                        <span class="inputSpan">Technology</span>
                        <span class="inputError" asp-validation-for="Technology"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <svg width="32" height="32" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_178_2149)">
                        <path d="M15.8533 8.52885L14.9182 7.05529L15.4711 5.40144C15.548 5.17548 15.4543 4.92789 15.2476 4.80769L13.7355 3.9375L13.4567 2.21394C13.4182 1.97837 13.2187 1.80289 12.9831 1.79327L11.2379 1.72596L10.1899 0.326926C10.048 0.137022 9.78843 0.0745219 9.57689 0.175483L7.99997 0.925483L6.42304 0.175483C6.2091 0.0745219 5.95189 0.137022 5.80766 0.326926L4.76199 1.72596L3.01679 1.79327C2.78122 1.80289 2.5817 1.97837 2.54324 2.21394L2.26439 3.9351L0.752371 4.80769C0.545641 4.92548 0.451891 5.17308 0.52641 5.39904L1.0817 7.05529L0.146602 8.52885C0.0191982 8.73077 0.0528521 8.99279 0.223525 9.15866L1.48314 10.3678L1.34372 12.1058C1.32449 12.3438 1.47353 12.5601 1.70189 12.6274L3.37978 13.1106L4.06247 14.7163C4.15622 14.9351 4.38939 15.0625 4.62256 15.012L6.3317 14.6611L7.68266 15.7668C7.77401 15.8413 7.88699 15.8798 7.99997 15.8798C8.11295 15.8798 8.22353 15.8413 8.31728 15.7668L9.66824 14.6611L11.3774 15.012C11.6105 15.0625 11.8461 14.9375 11.9375 14.7163L12.6202 13.1106L14.298 12.6274C14.5264 12.5625 14.6754 12.3438 14.6562 12.1058L14.5168 10.3678L15.7764 9.15866C15.9471 8.99279 15.9807 8.73077 15.8533 8.52885ZM11.6178 6.1226L8.11535 11.3702C7.98314 11.5649 7.77641 11.6971 7.57449 11.6971C7.37016 11.6971 7.1442 11.5817 6.99756 11.4375L4.42785 8.82452C4.25237 8.64664 4.25237 8.35818 4.42785 8.17789L5.06247 7.53366C5.23795 7.35577 5.5216 7.35577 5.69708 7.53366L7.37016 9.23318L10.1298 5.09856C10.2668 4.88943 10.548 4.83654 10.7524 4.97837L11.4976 5.49039C11.7019 5.62981 11.7548 5.91587 11.6178 6.1226Z"
                              fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_178_2149">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="dateRow popupInput inputTextContainer">
                                <input asp-for="StartDate" type="text"  class="input" />
                                <span class="inputSpan">Start Date</span>
                                <span class="inputError" asp-validation-for="StartDate"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dateRow popupInput inputTextContainer">
                                <input asp-for="EndDate" type="text"  class="input" />
                                <span class="inputSpan">End Date</span>
                                <span class="inputError" asp-validation-for="EndDate"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M56.0982 0C54.0529 0 52.0494 0.792699 50.505 2.33638L24.0421 28.704L23.4577 29.2881L23.2908 30.1226L21.4542 39.4681L20.6194 43.3898L24.5429 42.5554L33.8926 40.7197L34.7274 40.5528L35.3118 39.9687L61.6913 13.5176C64.7696 10.4407 64.7696 5.4133 61.6913 2.33638C60.1469 0.792699 58.1434 0 56.0982 0ZM56.0982 5.1734C56.7243 5.1734 57.3399 5.49674 57.9347 6.09126C59.1243 7.28031 59.1243 8.57367 57.9347 9.76271L32.0561 35.6297L27.4647 36.5476L28.383 31.9583L54.2616 6.09126C54.8564 5.49674 55.4721 5.1734 56.0982 5.1734ZM0 10.5971V64H53.4268V28.7875L48.0841 34.1278V58.6597H5.34268V15.9374H29.8856L35.2283 10.5971H0Z"
                          fill="black" />
                </svg>
                <div class="col">
                    <div class="popupInput inputTextContainer">
                        <input asp-for="Description" type="text"  class="input" />
                        <span class="inputSpan">Description</span>
                        <span class="inputError" asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="formFooter">
            <button class="btn btn--hover btnCancel" type="button">Cancel</button>
            <button class="btn btn--button" type="submit">Add</button>
        </div>
    </form>
</div>