@model Jobee.Controllers.AccountController.ChangePasswordModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Change password";
    var isValid = ViewData.ModelState.IsValid;
    bool validationField(string input)
    {
        var state = ViewData.ModelState.GetFieldValidationState(input);
        return state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Valid || state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Unvalidated;
    }
}
@section Styles{
    <link rel="stylesheet" href="~/css/changepassword.css" asp-append-version="true" />
}
<form method="post" class="changePasswordForm" asp-action="ChangePassword">
    <div class="formHeader">
        <h2>Update Password</h2>
    </div>
    <div class="inputContent">
        <div class="inputTextContainer @(validationField("oldPassword") ? "" : "error")">
            <input type="password" class="input" id="oldPw" asp-for="oldPassword"/>
            <span class="inputSpan">Old Password</span>

            <span class="inputError error" asp-validation-for="oldPassword"></span>
        </div>
        <div class="inputTextContainer @(validationField("newPassword") ? "" : "error")">
            <input type="password" class="input" id="newPw" asp-for="newPassword"/>
            <span class="inputSpan">New Password</span>

            <span class="inputError error" asp-validation-for="newPassword"></span>
        </div>
        <div class="inputTextContainer @(validationField("reNewPassword") ? "" : "error")">
            <input type="password" class="input" id="confirmPw" asp-for="reNewPassword" />
            <span class="inputSpan">Confirm Password</span>

            <span class="inputError error" asp-validation-for="reNewPassword"></span>
        </div>
        <button class="btn btn--Submit" type="submit">Save Change</button>
    </div>
</form>  
@section Scripts{
    <script src="~/js/input.js" asp-append-version="true"></script>
}