@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Jobee.Controllers.AccountController.CreateNewPasswordModel

@{
    ViewData["Title"] = "Create new password";
    var isValid = ViewData.ModelState.IsValid;
    bool validationField(string input)
    {
        var state = ViewData.ModelState.GetFieldValidationState(input);
        return state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Valid || state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Unvalidated;
    }
}
@section Styles{
    <link rel="stylesheet" href="~/css/createnewpassword.css" asp-append-version="true" />
}
<form method="post" class="createContainer" asp-action="CreateNewPassword">
    <div class="formHeader">
        <h2>Create New Password</h2>
    </div>
    <div class="inputContent">
        <div class="inputTextContainer @(validationField("newPassword") ? "" : "error")">
            <input type="password" class="input" asp-for="newPassword" />
            <span class="inputSpan">New Password</span>
            <span class="inputError error" asp-validation-for="newPassword"></span>
        </div>
        <div class="inputTextContainer @(validationField("reNewPassword") ? "" : "error")">
            <input type="password" class="input" asp-for="reNewPassword" />
            <span class="inputSpan">Confirm Password</span>
            <span class="inputError error" asp-validation-for="reNewPassword"></span>
        </div>
        <button class="btn btn--Submit" type="">Create</button>
    </div>
</form> 
@section Scripts{
    <script src="~/js/input.js" asp-append-version="true"></script>
}