@model Jobee.Controllers.AccountController.EntryNewEmailModel
@{
    ViewData["Title"] = "Forget password";
    var isValid = ViewData.ModelState.IsValid;
    bool validationField(string input)
    {
        var state = ViewData.ModelState.GetFieldValidationState(input);
        return state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Valid || state == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Unvalidated;
    }
}
@section Styles{
    <link rel="stylesheet" href="~/css/entrynewemail.css" asp-append-version="true" />
}
<form method="post" class="entryForm" asp-action="EntryNewEmail">
    <div class="formHeader">
        <h2>Update Your Email</h2>
    </div>
    <div class="inputContent">
        <div class="inputTextContainer @(validationField("email") ? "" : "error")">
            <input type="email" class="input " id="newEmail" asp-for="email" />
            <span class="inputSpan">New Email</span>
            <span class="inputError error" asp-validation-for="email"></span>
        </div>
        <button class="btn btn--Submit" type="submit">Confirm</button>
    </div>
</form>
@section Scripts{
    <script src="~/js/input.js" asp-append-version="true"></script>
}