@{
    ViewData["Title"] = "Verify successfuly";
}
@section Styles{
    <link rel="stylesheet" href="~/css/verifyconfirm.css" asp-append-version="true" />
}
<div  class="verifyForm" >
    <h3>Verify your email is successfully</h3>
    <div class="verifyButton">
        <a class="btn btn--simpButton" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn--button center" asp-action="Login">Login</a>
    </div>
</div>
