@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />
}
<div class="slider">
    <ul>
        <li class="active"><a href="#Introduction">Introduction</a></li>
        <li><a href="#Feature">Feature</a></li>
        <li><a href="#Technology">Technology</a></li>
        <li><a href="#About">About</a></li>
    </ul>
</div>
<div class="panel" id="Introduction">
    <div>
        <h1>Introduction</h1>
        <p>
            Jobee is an online platform that allows you to create a professional 
            CV with just one simple template. With Jobee, you don't have to spend a 
            lot of time searching for a CV template that fits your needs. With one fixed template, 
            you can create a beautiful and impressive CV in just a few minutes.
        </p>
    </div>
    <img src="assets/images/logo_singel.svg" alt="" srcset="" />
</div>
<div class="panel" id="Feature">
    <div>
        <h1>Feature</h1>
        <ul>
            <li>A beautifully designed and professional CV template that helps you create a CV easily.</li>
            <li>Editing tools that allow you to add, modify, and delete items on your CV.</li>
            <li>A WYSIWYG (What You See Is What You Get) editor that helps you create a CV as you wish.</li>
            <li>The ability to save and share your CV with employers.</li>
            <li>It free!</li>
        </ul>
    </div>
    <img src="assets/images/feature.svg" alt="" srcset="" />
</div>
<div class="panel" id="Technology">
    <div>
        <h1>Technology</h1>
        <div class="techIcon">
            <div class="group1">
                <img src="/images/api.svg" alt="api logo" class="techLogo" />
                <img src="/images/dotnet.svg" alt="dotnet logo" class="techLogo" />
            </div>
            <img src="/images/csharp.svg" alt="csharp logo" class="techLogo" />
        </div>
    </div>
    <img src="/images/technology.svg" alt="" srcset="" />
</div>
<div class="panel" id="About">
    <div>
        <div class="member-group">
            <h1>About Team Product</h1>
            <ul>
                <li>
                    <!-- Tai -->
                    <img src="/images/Members/1w2ta6TdDwqezXFEeQYVJw.jpg" alt="" />
                    <span>TaiNTCE150462</span>
                </li>
                <li>
                    <!-- My -->
                    <img src="/images/Members/3RYQXGQhFcaF6ErmDW1Jig.jpg" alt="" />
                    <span>MyKTCE150204</span>
                </li>
                <li>
                    <!-- Tuyen -->
                    <img src="/images/Members/dvyKjkEexFqWSeZ1MEzcGA.jpg" alt="" />
                    <span>TuyenDTCE150409</span>
                </li>
                <li>
                    <!-- Phu -->
                    <img src="/images/Members/Gncok84nhrjC66pF1nVwSg.jpg" alt="" />
                    <span>PhuNVCE150611</span>
                </li>
                <li>
                    <!-- Thuan -->
                    <img src="/images/Members/sGaX8dxnFbNxAGIh7npEGw.jpg" alt="" />
                    <span>ThuanCVCE150378</span>
                </li>
            </ul>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
}