//local
@import "index";

.btn {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid $primary;

  &--simpButton {
    text-shadow: 0px 6px 20px 0px #1212121a;
    color: $primary;
    border: none;
    box-shadow: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &--button {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: $white;
      color: $primary;
      border: 1px solid $primary ;
    }
  }
}
// .btn {
//   font-family: $font-family;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 18.2px;
//   line-height: 21px;
//   width: 123px;
//   height: 52.2px;
//   text-decoration: none;
//   padding: 15px 19.6719px 15.2031px 19.1875px;
//   box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
//   border-radius: 12px;
//   border: 1px solid $primary;
// }
// @mixin btn--simpButton($width: 123px, $height: 52.2px) {
//   width: $width;
//   height: $height;
//   text-shadow: 0px 6px 20px 0px #1212121a;
//   color: $primary;
//   border: none;
//   box-shadow: none;
//   &:hover {
//     text-decoration: underline;
//   }
// }
