//local
.btn {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 18.2px;
  line-height: 21px;
  width: 123px;
  height: 52.2px;
  text-decoration: none;
  padding: 15px 19.6719px 15.2031px 19.1875px;
  box-shadow: 0px 6px 20px rgba(18, 18, 18, 0.1);
  border-radius: 12px;
  border: 1px solid $primary;
  cursor: pointer;
  text-align: center;

  &--simpButton {
    text-shadow: 0px 6px 20px 0px #1212121a;
    color: $light_primary;
    border: none;
    box-shadow: none;
    &:hover {
      text-decoration: underline;
    }
  }
  %button--hover {
    background-color: $white;
    color: $light_primary;
    border: 1px solid $light_primary;
  }
  &--button {
    background-color: $light_primary;
    color: $white;
    &:hover {
      background-color: $white;
      color: $light_primary;
      border: 1px solid $light_primary;
    }
  }
  &--hover {
    background-color: $white;
    color: $light_primary;
    border: 1px solid $light_primary;
  }

  &--Edit {
    background-color: $light_primary;
    border: 1px solid $light_primary;
    color: $white;
    width: 5em;
    border-radius: 8px;
    font-weight: $fw500;
  }

  &--Delete {
    background-color: $error;
    border: 1px solid $error;
    color: $white;
    width: 5em;
    border-radius: 8px;
    font-weight: $fw500;
  }

  &--Login {
    background-color: $primary;
    border-radius: 8px;
    width: 100%;
    color: $white;
  }
}
