//CONTENT POPUP
.overlayContentPopup {
  background-color: $overlay;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .contentPopupContainer {
    width: 700px;
    height: 450px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 10px;

    .contentLeft {
      border-radius: 10px 0 0 10px;
      width: 40%;
      background-color: $line;
      display: flex;
      align-items: center;
      padding: 8px;
      .contentTitle {
        font-weight: $fw700;
        font-size: $large;
      }
    }

    .contentRight {
      width: 60%;

      .rowContentItem {
        background-color: $light_grey;
        display: flex;
        align-items: center;
        height: 5rem;
        margin: 0.5em;
        padding: 8px;

        .rowContentItemText {
          font-size: $small;
          margin-left: 0.5em;
          font-weight: $fw700;
        }

        .linkIcon {
          width: 3.5em;
        }
      }

      //BUTTON
      .contentPopupButton {
        margin: 1em 1em 0 0;
        float: right;
      }
    }
  }
}
