%inputContainer {
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0.5em 0 1em 0;
  background-color: $white;
  font-size: $medium;
  padding: 0 1em;
  border-bottom: 5px solid $primary;
  box-sizing: border-box;

  input,
  select {
    border: 1px solid $white;
  }
  .inputError {
    position: absolute;
    bottom: -$extra-small * 2;
    color: $error;
    font-weight: $fw700;
    font-size: $extra-small;
    display: none;
  }
}

// INPUT TEXT FIELD
.inputTextContainer {
  @extend %inputContainer;
  &:has(.input:focus) {
    border-bottom: 5px solid $success;
  }
  &.error {
    padding-right: 1em;
    border-bottom: 5px solid $error;
    &::before {
      content: url("/assets/images/Error.svg");
      position: absolute;
      width: $medium;
      height: $medium;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 100;
    }

    .inputError {
      display: block;
    }
  }

  .input {
    width: 100%;
    height: 100%;
    transition: border-bottom-color ease 0.25s;
    font-size: inherit;
    &:focus {
      outline: none;
      // ~ .inputSpan {
      //   color: $black;
      //   top: 0;
      //   animation: movingText 0.5s ease;
      //   font-size: small;
      // }
    }
  }
  .no-animation {
    animation: none !important;
  }
  .inputSpan {
    &.focus {
      color: $black;
      top: 0;
      animation: movingText 0.5s ease;
      font-size: small;
    }
    position: absolute;
    font-weight: 700;
    color: $primary;
    opacity: 0.6;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes movingText {
  0% {
    top: 50%;
  }
  100% {
    top: 15%;
  }
}

// SELECT FIELD
.inputSelectContainer {
  @extend %inputContainer;

  select {
    width: 100%;
    height: 100%;
    font-size: inherit;

    &:focus {
      outline: none;
    }

    option {
      background-color: $white;
    }
  }
}

//TEXT AREA
.inputTextareaContainer {
  @extend %inputContainer;
  .inputTxt {
    width: 100%;
    height: 100%;
    border: 1px solid $white;
    resize: none;
    transition: 0.25s;

    &:focus {
      outline: none;

      ~ .areaSpan {
        top: -30%;
        color: $black;
        animation: movingArea ease 0.25s;
      }
    }
  }

  .areaSpan {
    position: absolute;
    font-weight: 700;
    color: $primary;
    opacity: 0.6;
    left: 0.5em;
    top: 20%;
    font-size: 1em;
  }
}

@keyframes movingArea {
  0% {
    top: 20%;
  }
  100% {
    top: -30%;
  }
}

// URL FIELD
.urlFieldContainer {
  height: 30px;

  .urlField {
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid $grey;
    width: 100%;
    border-radius: 5px;

    .urlFieldInput {
      border-radius: 5px;
      border: none;
      padding: 4px;
      outline: none;
      flex-grow: 1;

      &::placeholder {
        color: $grey;
      }
    }

    .extendIconContainer {
      display: flex;
      background-color: $grey;
      height: 100%;
      width: 2em;
      padding: 2px;
      cursor: pointer;
      transition: 0.25s;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }

      #extendIcon {
        width: 1em;
      }
    }
  }
}
