// Required

//font face
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//font
$font-family: "Nunito", sans-serif !default;
//size
$extra-small: 12px;
$small: 16px;
$medium: 24px;
$large: 32px;
$extra-large: 64px;

//weight
$fw700: 700;
$fw500: 500;

$primary: #86a3b8;
$line: #e8d2a6;
$error: #f55050;
$background: #fff2f2;
$text_v: #f5f5f5;
$success: #03c988;
$black: #000000;
$white: #ffffff;
$grey: #cccccc;
$light_grey: #f4f4f4;
$blue: #0062e6;
$grey2: #eeeeee;
$green: #b0e07b;
$pink: #ff8789;
$overlay: rgba(0, 0, 0, 0.6);
$light_primary: #8ea7e9;

//box shadow
$box_shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;