@import "variables";

//reset css
@import "reset";
//layout
@import "layout";
@import "button";
@import "input";
@import "contentNavigation";
@import "header";

@import "contentPopup";
@import "popupNotify";

.container {
  overflow: scroll;
}
.cv-container {
  padding-top: $small;
  display: flex;
  flex-direction: column;
  gap: 20px;

  strong {
    font-weight: $fw700;
  }
  .panel {
    width: 100%;
    height: fit-content;
    &#profile {
      background-color: $light_grey;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 40px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          border: 1px solid $grey;
          bottom: 0;
          left: 0;
        }
        span {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $light_primary;
          svg {
            width: 40px;
            height: 40px;
            fill: $line;
          }
          font-size: $medium;
          font-weight: $fw700;
          a {
            color: $success;
            text-decoration: none;
          }
        }
      }
      .content {
        #avt-update {
          display: none;
        }
        padding: $medium 40px;
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: $medium;
        .avartar {
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          height: 126px;
          width: 126px;
          & > span {
            padding-top: 5%;
            text-align: center;
            position: absolute;
            width: 126px;
            height: 126px;
            top: 75%;
            left: 0;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            cursor: pointer;
            img {
              width: $medium;
              height: $medium;
            }
          }
        }
        img {
          object-position: top;
          object-fit: cover;
          height: 126px;
          width: 126px;
          border-radius: 50%;
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      h1 {
        font-size: $medium;
        word-wrap: break-word;
        font-weight: bold;
        margin: 20px 0;
      }
    }
    &#General {
      .header {
        display: flex;
        padding: 15px 40px;
        position: relative;

        span {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $light_primary;
          svg {
            width: 40px;
            height: 40px;
            fill: $line;
          }
          font-size: $medium;
          font-weight: $fw700;
          a {
            color: $success;
            text-decoration: none;
          }
        }
        h1 {
          font-size: $medium;
          word-wrap: break-word;
          font-weight: bold;
          margin: 20px 0;
        }
      }
      .content {
        background-color: $light_grey;
        padding: 23px 57px;
        display: flex;
        gap: 29px;
        flex-direction: column;
        .row {
          display: flex;
          gap: 76px;
          align-items: flex-start;
          flex-wrap: nowrap;
          .col {
            flex: 1;
            .inputTextContainer,
            .inputSelectContainer {
              width: 100% !important;
              height: $extra-large;
            }
            .inputTextareaContainer {
              textarea {
                min-height: $extra-large !important;
                max-height: 3 * $extra-large;
              }
            }
          }
        }
      }
    }
  }
}

// POPUP
.overlayPopup {
  position: fixed;
  background-color: $overlay;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;

  .popupContainer {
    background-color: $white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 1em;
    animation: popupShow 0.25s ease;
  }

  // HEADER
  .formHeader {
    margin: 1em 0;
    .headerTitle {
      text-align: center;
      font-weight: $fw700;
      color: $primary;
      font-size: $medium;
    }
  }

  //BODY
  .formBody {
    .row {
      display: flex;
      gap: $small;
      align-items: center;
      flex-wrap: nowrap;
      .col {
        flex: 1;
        & > * {
          width: 100%;
        }
      }
      svg {
        width: $large;
        flex-basis: auto;
      }

      .popupInput {
        font-size: $small;
      }

      .dateRow {
        width: 100%;
      }
    }
  }
  //FOOTER
  .formFooter {
    float: right;
  }
}

@keyframes popupShow {
  0% {
    left: -50%;
  }
  100% {
    left: 50%;
  }
}

#updateProfile {
  width: 80%;
}

#AccountSettingContainer {
  width: 40%;
  .inputTextContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inputSpan.focus {
    top: -0.25em;
  }
  & .inputTextContainer:first-child(span) {
    font-size: $small;
  }
  .btnaction {
    cursor: pointer;
  }
}

#softSkill {
  position: relative;
  &::after {
    content: "Separated by comma, up to 10 skills";
    position: absolute;
    right: 0;
    top: -1em;
    color: $grey;
    font-size: 16px;
  }
}

.contentFooter {
  display: flex;
  justify-content: right;

  & button:first-child {
    margin-right: 1em;
  }
}