@import "variables";

//reset css
@import "reset";
//layout
@import "layout";
@import "button";
@import "header";

@import "input";

.verifyForm {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    border-radius: 8px;
}

.verifyForm h3 {
    font-size: $medium;
    font-weight: $fw700;
    padding: 8px;
}

.verifyButton {
    display: flex;
    align-items: center;
    justify-content: center;
}