@model Jobee_API.Models.Profile
<!-- POPUP UPDATE PROFILE -->
<div class="overlayPopup" id="overlayUpdateProfile" @(
     Model == null ? "style=display:block;" : ""
     )>
    @if (Model == null)
    {
    <form method="post" class="popupContainer" id="updateProfileContainer" asp-controller="User" asp-action="CreateProfile">
        <div class="formHeader">
            <h3 class="headerTitle">Update Profile</h3>
        </div>
        <div class="formBody">
            <div class="row">
                <div class="col">
                    <div class="inputTextContainer">
                        <input asp-for="LastName" type="text" class="input" />
                        <span class="inputSpan">Last Name</span>
                        <span class="inputError" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputTextContainer">
                        <input asp-for="FirstName" type="text" class="input" />
                        <span class="inputSpan">First Name</span>
                        <span class="inputError" asp-validation-for="FirstName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="inputTextContainer">
                        <input asp-for="DoB" class="input" />
                        <span class="inputSpan">Date of Birth</span>
                        <span class="inputError" asp-validation-for="DoB"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputSelectContainer">
                        <select asp-for="Gender">
                            <option value="" disabled selected hidden>Gender</option>
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="inputSelectContainer">
                        <select asp-for="Address" asp-items="ViewBag.DesiredWorkLocations"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="inputTextContainer">
                        <input asp-for="PhoneNumber" class="input" />
                        <span class="inputSpan">Phone Number</span>
                        <span class="inputError" asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputTextContainer" id="websiteField">
                        <input asp-for="SocialNetwork" type="text" class="input" />
                        <span class="inputSpan">Your Website</span>
                        <span class="inputError" asp-validation-for="SocialNetwork"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="inputTextContainer">
                        <input asp-for="Email" class="input" />
                        <span class="inputSpan">Email</span>
                        <span class="inputError" asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="inputTextContainer">
                        <input asp-for="DetailAddress" type="text" class="input" />
                        <span class="inputSpan">Details Address</span>
                        <span class="inputError" asp-validation-for="DetailAddress"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="formFooter">
            <button class="btn btn--hover btnCancel" type="button">Cancel</button>
            <button class="btn btn--button" type="submit">Update</button>
        </div>
        </form>
    }
    else
    {
        <form method="post" class="popupContainer" id="updateProfileContainer" asp-controller="User" asp-action="UpdateProfile">
            <div class="formHeader">
                <h3 class="headerTitle">Update Profile</h3>
            </div>
            <div class="formBody">
                <div class="row">
                    <div class="col">
                        <div class="inputTextContainer">
                            <input asp-for="LastName" type="text" class="input" />
                            <span class="inputSpan">Last Name</span>
                            <span class="inputError" asp-validation-for="LastName"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputTextContainer">
                            <input asp-for="FirstName" type="text" class="input" />
                            <span class="inputSpan">First Name</span>
                            <span class="inputError" asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="inputTextContainer">
                            <input asp-for="DoB" class="input" />
                            <span class="inputSpan">Date of Birth</span>
                            <span class="inputError" asp-validation-for="DoB"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputSelectContainer">
                            <select asp-for="Gender">
                                <option value="" disabled selected hidden>Gender</option>
                                <option value="true">Male</option>
                                <option value="false">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputSelectContainer">
                            <select asp-for="Address" asp-items="ViewBag.DesiredWorkLocations"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="inputTextContainer">
                            <input asp-for="PhoneNumber" class="input" />
                            <span class="inputSpan">Phone Number</span>
                            <span class="inputError" asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputTextContainer" id="websiteField">
                            <input asp-for="SocialNetwork" type="text" class="input" />
                            <span class="inputSpan">Your Website</span>
                            <span class="inputError" asp-validation-for="SocialNetwork"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="inputTextContainer">
                            <input asp-for="Email" class="input" />
                            <span class="inputSpan">Email</span>
                            <span class="inputError" asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="inputTextContainer">
                            <input asp-for="DetailAddress" type="text" class="input" />
                            <span class="inputSpan">Details Address</span>
                            <span class="inputError" asp-validation-for="DetailAddress"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formFooter">
                <button class="btn btn--hover btnCancel" type="button">Cancel</button>
                <button class="btn btn--button" type="submit">Update</button>
            </div>
        </form>
    }
</div>