<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <link rel="stylesheet" href="../../assets/css/changepassword.css" />
  </head>
  <body>
    <header>
      <a href="/" rel="noopener noreferrer">
        <img src="../../assets/images/Logo.svg" alt="" srcset="" />
      </a>
      <div class="group-btn">
        <a
          class="btn btn--simpButton center"
          role="button"
          href="/templates/pages/login.html"
          >Login</a
        >
      </div>
    </header>
    <div class="container">
      <div class="changePasswordForm">
        <div class="formHeader">
          <h2>Update Password</h2>
        </div>
        <div class="inputContent">
          <div class="inputTextContainer">
            <input type="password" class="input" id="oldPw" />
            <span class="inputSpan">Old Password</span>
            <img
              src="../../assets/images/Error.svg"
              alt="error icon"
              class="inputErrorIcon error"
            />
            <span class="inputError error">Old Password is wrong</span>
          </div>
          <div class="inputTextContainer">
            <input type="password" class="input" id="newPw" />
            <span class="inputSpan">New Password</span>
            <img
              src="../../assets/images/Error.svg"
              alt="error icon"
              class="inputErrorIcon error"
            />
            <span class="inputError error">New password is invalid</span>
          </div>
          <div class="inputTextContainer">
            <input type="password" class="input" id="confirmPw" />
            <span class="inputSpan">Confirm Password</span>
            <img
              src="../../assets/images/Error.svg"
              alt="error icon"
              class="inputErrorIcon error"
            />
            <span class="inputError error">Re-Password is not match</span>
          </div>
          <button class="btn btn--Submit">Save Change</button>
        </div>
      </div>
    </div>
  </body>
</html>
