<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Entry New Email</title>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="../../assets/css/entrynewemail.css" />
</head>

<body>
  <header>
    <a href="/" rel="noopener noreferrer">
      <img src="../../assets/images/Logo.svg" alt="" srcset="" />
    </a>
    <div class="group-btn">
      <a class="btn btn--simpButton center" role="button" href="/templates/pages/login.html">Login</a>
    </div>
  </header>
  <div class="container">
    <form method="post" class="entryForm">
      <div class="formHeader">
        <h2>Update Your Email</h2>
      </div>
      <div class="inputContent">
        <div class="inputTextContainer">
          <input type="email" class="input" id="newEmail" />
          <span class="inputSpan">New Email</span>
          <span class="inputError error">New Email is invalid</span>
        </div>
        <button class="btn btn--Submit">Confirm</button>
      </div>
    </form>
  </div>
  <script src="/assets/js/input.js"></script>
</body>

</html>