<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ERROR</title>
  <link rel="stylesheet" href="/assets/css/error.css" />
</head>

<body>
  <header>
    <a href="/" rel="noopener noreferrer">
      <img src="/assets/images/Logo.svg" alt="" srcset="" />
    </a>
    <div class="group-btn">
      <a class="btn btn--simpButton center" role="button" href="/templates/pages/signup.html">Sign Up</a>
      <a class="btn btn--button" role="button" href="/templates/pages/login.html">Login</a>
    </div>
  </header>
  <div class="container">
    <div class="errorContainer">
      <div class="errorCode">
        <span class="firstNum errorNum">4</span>
        <img src="../../assets/images/nothing_found.svg" alt="nothing found" class="notfoundicon" />
        <span class="secondNum errorNum">4</span>
      </div>
      <div class="errorMessage">
        <div class="errorTitle">Page Not Found</div>
        <div class="errorDesc">
          The page you're looking for not seem to exist
        </div>
      </div>
      <div class="errorFooter">
        <a href="/" class="btn btn--button center">Home</a>
      </div>
    </div>
  </div>
</body>

</html>