<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
    <link rel="stylesheet" href="../../assets/css/forgetpassword.css" />
  </head>
  <body>
    <header>
      <a href="/" rel="noopener noreferrer">
        <img src="../../assets/images/Logo.svg" alt="" srcset="" />
      </a>
      <div class="group-btn">
        <a
          class="btn btn--simpButton center"
          role="button"
          href="/templates/pages/signup.html"
          >Sign Up</a
        >
        <a
          class="btn btn--button"
          role="button"
          href="/templates/pages/login.html"
          >Login</a
        >
      </div>
    </header>
    <div class="container">
      <div class="confirmForm">
        <div class="formHeader">
          <h2>Email Confirm</h2>
        </div>
        <div class="inputContent">
          <div class="inputTextContainer">
            <input type="text" class="input" />
            <span class="inputSpan">Email</span>
            <img
              src="../../assets/images/Error.svg"
              alt="error icon"
              class="inputErrorIcon error"
            />
            <span class="inputError error">Email is invalid</span>
          </div>
          <button class="btn btn--Submit">Confirm</button>
        </div>
      </div>
    </div>
  </body>
</html>
