<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>
  <link rel="stylesheet" href="../../assets/css/signup.css" />
</head>

<body>
  <header>
    <a href="/" rel="noopener noreferrer">
      <img src="../../assets/images/Logo.svg" alt="" srcset="" />
    </a>
    <div class="group-btn">
      <a class="btn btn--simpButton center" role="button" href="/templates/pages/login.html">Login</a>
    </div>
  </header>
  <div class="container">
    <div class="signupForm">
      <div class="formHeader">
        <h2>Signup</h2>
      </div>
      <div class="inputContent">
        <div class="inputTextContainer">
          <input type="text" class="input" />
          <span class="inputSpan">Username</span>

          <span class="inputError error">Username is invalid</span>
        </div>
        <div class="inputTextContainer">
          <input type="password" class="input" />
          <span class="inputSpan">Password</span>

          <span class="inputError error">Password is invalid</span>
        </div>
        <div class="inputTextContainer">
          <input type="password" class="input" />
          <span class="inputSpan">Confirm Password</span>

          <span class="inputError error">Re-Password is not match</span>
        </div>
        <div class="inputTextContainer">
          <input type="email" class="input" />
          <span class="inputSpan">Email</span>

          <span class="inputError error">Email is invalid</span>
        </div>
        <button class="btn btn--Submit">Signup</button>
      </div>
    </div>
  </div>
</body>

</html>