<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Confirm</title>
    <link rel="stylesheet" href="../../assets/css/verifyconfirm.css" />
  </head>
  <body>
    <header>
      <a href="/" rel="noopener noreferrer">
        <img src="../../assets/images/Logo.svg" alt="" srcset="" />
      </a>
      <div class="group-btn">
        <a
          class="btn btn--simpButton center"
          role="button"
          href="/templates/pages/signup.html"
          >Sign Up</a
        >
        <a
          class="btn btn--button"
          role="button"
          href="/templates/pages/login.html"
          >Login</a
        >
      </div>
    </header>
    <div class="container">
      <div class="verifyForm">
        <h3>Verify your email is successfully</h3>
        <div class="verifyButton">
          <a href="#" class="btn btn--simpButton">Home</a>
          <a href="#" class="btn btn--button center">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
